.header-nav {
  font-weight: 600;
  // font-size: 1rem;
}
.tool-app-br .breadcrumb-item span {
  font-size: 1rem;
}
.tool-app-br .breadcrumb-item + .breadcrumb-item::before {
  content: "-" !important;
}
.btn-rollover {
  background-color: #f1f1f4;
}
.model-nav-bar .btn {
  font-size: 13px;
}
.modal-nav-two .modal-header {
  display: block !important;
}
.btn-cls-centered {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-cls-centered button {
  border: transparent;
  background: transparent;
  font-size: 27px;
  color: #9aa1b7;
}
.target-ttl::after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--bs-danger);
  padding-left: 0.25rem;
  font-weight: 600;
}
.target-input1 {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4b5675;
  transition: color 0.2s ease;
  font-weight: 600;
}
.target-input1:focus {
  background-color: #f1f1f4 !important;
  border-color: #f1f1f4 !important;
  color: #4b5675;
  transition: color 0.2s ease;
  box-shadow: none;
}
.nav-selection {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4b5675;
  transition: color 0.2s ease;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}
.nav-selection:focus {
  box-shadow: none;
  border: transparent;
  outline: none;
}
.datetimepicker {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4c5675;
  font-weight: 600;
}
.modal-extra-form-one {
  color: #4b5675;
  font-weight: 600;
}
.modal-extra-form-one textarea {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}
.modal-form-control:focus {
  background-color: #f1f1f4;
  border-color: #f1f1f4;
  color: #4b5675;
  transition: color 0.2s ease;
  // border: transparent;
  // outline: none;
  box-shadow: none;
}
.red-star span::after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--bs-danger);
  padding-left: 0.25rem;
  font-weight: 600;
}
.toast-important .toast {
  box-shadow: none;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}
.toast-important .toast-header {
  border-radius: 7px;
  background-color: #f1f1f4 !important;
}
.modal-allownce .form-switch{
    font-size: 22px;
}
.modal-allownce .allowence-desc{
    font-size: 14px;
}
.modal-allownce .form-switch span{
    font-size: 14px;
    vertical-align: 5px;
}
.notif-checks .form-check-input:checked{
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.modal-footer-nav{
    
}