body {
  background-color: #fcfcfc; }

i {
  font-size: 15px; }

.navbar-icons-color {
  color: #e0e3e9; }

.avatar-300 {
  cursor: pointer;
  width: 35px;
  height: 35px; }

.menu-link span {
  color: #4b5675;
  font-weight: 600; }

.menu-link-visited {
  background-color: transparent;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.03); }

.menu-link-visited span {
  font-weight: 600;
  color: #1b84ff;
  padding: 8px; }

.metronic-logo {
  height: 30px; }

.dashboard-sidebar-menu {
  background-color: #0d0e12; }

li.dropdown {
  list-style: none; }

li.dropdown a {
  color: #f5f5f5; }

li.dropdown a {
  text-decoration: none; }

ul.dropdown-menu li a {
  text-decoration: none;
  color: #f5f5f5; }

ul li ul.dropdown-menu {
  min-width: 100%;
  /* Set width of the dropdown */
  display: none;
  position: absolute;
  z-index: 999;
  left: 0; }

ul li ul.dropdown-menu li {
  display: block; }

.offcanvas-start {
  width: 215px !important; }

.dp-menu-sidebar {
  background-color: transparent; }

.dp-menu-sidebar li:first-child a {
  color: white; }

.dp-menu-sidebar li {
  color: #9a9cae;
  color: white;
  padding: 0.65rem 0;
  outline: 0 !important;
  cursor: pointer; }

.dp-menu-sidebar li a {
  display: block;
  border-radius: 10px !important; }

.sb-selected-li {
  background-color: #1c1c21;
  color: #f5f5f5;
  transition: color 0.2s ease; }

.dp-menu-sidebar li:first-child a .fa-circle {
  font-size: 4px;
  vertical-align: 5px;
  padding-right: 10px; }

.dp-menu-sidebar li:not(:first-child) a .fa-circle {
  font-size: 4px;
  vertical-align: 5px;
  padding-right: 10px;
  color: #464852; }

.rotate-180 {
  transform: rotate(180deg); }

.static-sidebar {
  padding: 0; }

.static-sidebar li:first-child {
  list-style-type: none;
  color: #f5f5f5;
  border-bottom: 1px dashed #1f212a; }

.static-sidebar li {
  padding: 10px 10px 10px 20px;
  color: #f5f5f5; }

.drop-dif {
  border: none !important; }

.group-sd {
  padding: 11px; }

.menu-head-second span {
  color: #636674 !important; }

.static-menu-design li span {
  color: #7f7f7f; }

.docs-and-component {
  display: flex;
  justify-content: center;
  align-items: center; }

.docs-and-component span {
  color: #b5b5c3;
  background-color: rgba(63, 66, 84, 0.35);
  padding: 10px 30px 10px 30px;
  border-radius: 10px; }

.docs-and-component {
  text-decoration: none; }

.static-menu-design i {
  padding-right: 8px;
  color: #7f7f7f;
  font-size: 19px; }

@media screen and (min-width: 992px) {
  .bb-custom {
    border-bottom: none !important; }

  .simple-square {
    display: none; } }
@media screen and (max-width: 768px) {
  .grow-icons-size {
    flex-grow: 1; } }
.header-nav {
  font-weight: 600; }

.tool-app-br .breadcrumb-item span {
  font-size: 1rem; }

.tool-app-br .breadcrumb-item + .breadcrumb-item::before {
  content: "-" !important; }

.btn-rollover {
  background-color: #f1f1f4; }

.model-nav-bar .btn {
  font-size: 13px; }

.modal-nav-two .modal-header {
  display: block !important; }

.btn-cls-centered {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center; }

.btn-cls-centered button {
  border: transparent;
  background: transparent;
  font-size: 27px;
  color: #9aa1b7; }

.target-ttl::after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--bs-danger);
  padding-left: 0.25rem;
  font-weight: 600; }

.target-input1 {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4b5675;
  transition: color 0.2s ease;
  font-weight: 600; }

.target-input1:focus {
  background-color: #f1f1f4 !important;
  border-color: #f1f1f4 !important;
  color: #4b5675;
  transition: color 0.2s ease;
  box-shadow: none; }

.nav-selection {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4b5675;
  transition: color 0.2s ease;
  padding: 10px;
  font-size: 14px;
  font-weight: 600; }

.nav-selection:focus {
  box-shadow: none;
  border: transparent;
  outline: none; }

.datetimepicker {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #4c5675;
  font-weight: 600; }

.modal-extra-form-one {
  color: #4b5675;
  font-weight: 600; }

.modal-extra-form-one textarea {
  background-color: #f9f9f9;
  border-color: #f9f9f9; }

.modal-form-control:focus {
  background-color: #f1f1f4;
  border-color: #f1f1f4;
  color: #4b5675;
  transition: color 0.2s ease;
  box-shadow: none; }

.red-star span::after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--bs-danger);
  padding-left: 0.25rem;
  font-weight: 600; }

.toast-important .toast {
  box-shadow: none;
  border: none;
  font-size: 12px;
  border-radius: 5px; }

.toast-important .toast-header {
  border-radius: 7px;
  background-color: #f1f1f4 !important; }

.modal-allownce .form-switch {
  font-size: 22px; }

.modal-allownce .allowence-desc {
  font-size: 14px; }

.modal-allownce .form-switch span {
  font-size: 14px;
  vertical-align: 5px; }

.notif-checks .form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important; }

/*# sourceMappingURL=style.css.map */
