@font-face {
    font-family: myfont;
    src: url(../icons/duotone/fonts/keenicons-duotone.eot);
    src: url(../icons/duotone/fonts/keenicons-duotone.svg);
    src: url(../icons/duotone/fonts/keenicons-duotone.ttf);
    src: url(../icons/duotone/fonts/keenicons-duotone.woff);
}